<h1>Sign Up</h1>
 <%= link_to 'New Sign Up', new_article_path %>
 <br><br>
<table>
  <tr>
    <th>Email</th>
    <th>Date</th>
    <th>Mobile Number</th>
    
    
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.email %></td>
      <td><%= article.date %></td>
      <td><%= article.mobile_number %></td>
       
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>

</table>
<br>
<%= link_to 'Back', articles_path %>