<center><h1> Sign Up</h1>
<%= form_for :article, url: articles_path do |f| %>
 
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: "enter first name", autofocus: true %><br>
   
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, placeholder: "enter last name" %><br>

  </p>
	<p>
    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "enter email" %><br>

  </p>
  <p>
  <%= f.label :mobile_number %><br>
  <%= f.telephone_field :mobile_number, placeholder: "enter mobile number"%><br>
 </p>
 <br>
 
 <div class="field">
  <p><%= f.label :state, "State:" %></p>
   <%= f.select :state, ['Bihar', 'Uttar Pradesh', 'West Bengal', 'Delhi'], :prompt => '-- Select One --', :required => true %><br>
  </p>
</div>
 <br>
 <br>
 

  <p>
    <%= f.label :date %><br>
   
  <%= f.date_field :date %><br>
  </p>
  <p>
    <b>Gender</b><br/>
    <%= f.radio_button :gender, 'Male' %> Male
    <%= f.radio_button :gender, 'Female' %> Female
    <%= f.radio_button :gender, 'Other' %> Other <br>
</p>
  <p>
    <%= f.label :password %><br>
   
  <%= f.password_field :password, placeholder: "password" %><br>
  </p>
  
    <p>
    <%= f.label :confirm_password %><br>
   
  <%= f.password_field :password_confirmation, placeholder: "confirm password" %><br>
  </p>
 
  <p>
  <%= f.label :remember_me %><br>
  <%= f.check_box :remember_me %> <br> 
   
  </p>
  <p>
    <%= f.submit "Create My Account", 'data-disable-with' => "please wait...", controller: 'articles' %>
    <%= submit_tag("Reset", { :name => 'reset', :id => 'reset_button', :type =>"reset"}) %>
    <%= link_to 'Back', welcome_index_path %>
  </p>
  </center>
<% end %>