<p>
  <strong>Email:</strong>
  <%= @article.email %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @article.date %>
</p>
<p>
  <strong>State:</strong>
  <%= @article.state %>
</p>

<p>
  <strong>Mobile Number:</strong>
  <%= @article.mobile_number %>
</p>

<%= link_to 'Back', articles_path %>